html * {
  padding: 0;
  margin: 0;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family:'Futura', Sans-Serif;
  font-size: 12px;
}
.wrapper {
	display: flex;
	width: 300vw;
	overflow-x: scroll;
}
.wrapper::-webkit-scrollbar {
	display: none;
}
section {
	width: 100vw;
	height: 100vh;
	border: 20px solid lightblue;
}
@media screen and (max-width: 480px) {
	.wrapper {
		display: block;
		width: 100vw;
		overflow-x: hidden;
	}
	section {
		width: 100vw;
		height: 100vh;
	}
}
