/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Base styles
2.0 - Typography
3.0 - Background Images and Textures
4.0 - Top Nav
5.0 - Buttons
6.0 - Main Styles
7.0 - Colors
8.0 - Media Queries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 - BASE STYLES
-------------------------------------------------------------- */

html * {
  padding: 0;
  margin: 0;
}
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border;
	box-sizing: border-box;
}
body {
	font-family: futura;
	font-size: 12px;
	background-image: url(../img/bg-body.jpg);
}
.wrapper {
	width: 85%;
	margin: 0 auto;
	background-image: url(../img/bg-map.png);
	background-color: #fff;
}
/*--------------------------------------------------------------
2.0 - TYPOGRAPHY
-------------------------------------------------------------- */
p {
	font-size: 1rem;
}
b {
	font-size: 1.5rem;
	font-family: futura;
}
p, b {
	margin-bottom: 20px;
}
h1 {
	letter-spacing: .1rem;
	text-decoration: none;
	margin: 0 0 15px 20px;
}
h1, h2, b, .button {
	text-transform: uppercase;
}
h2 {
	color: #592c67;
	font-size: 2rem;
	font-weight: 500;
	letter-spacing: 2px;
}
h4 {
	font-size: 15rem;
	color: lightblue;
	text-transform: uppercase;
	line-height: 12rem;
	margin-bottom: 10px;
}
/*--------------------------------------------------------------
3.0 - BACKGROUND IMAGES AND TEXTURES
-------------------------------------------------------------- */
.fixed-image2 {
	background-image: url('../img/top-nav-orb.png');
	position: fixed;
	left: 0;
	top: 5%;
	transform: translateY(-50%);
	width: 100%;
	height: 20%;
	mix-blend-mode: normal;
	z-index: 2;
	background-repeaft: no-repeat;
	margin: 0 auto;
}
.fixed-image1 {
	position: fixed;
	right: 10%;
	top: 15%;
	transform: translateY(-50%);

	mix-blend-mode: soft-light;
	z-index: 10;
}
#drinks-main {
	display: flex;
	justify-content: space-between;
}
.map-img {
	width: 100%;
	margin-bottom: 200px;
}
.img-slats {
	position: relative;
	z-index: 1;
	height: 80vh;
	right: 20%;
	top: 5%;

	mix-blend-mode: lighten;
}
#list-img {
	opacity: .7;
	height: 70%;
}
/*--------------------------------------------------------------
4.0 - TOP NAV
-------------------------------------------------------------- */
header {
	position: fixed;

	width: 100%;
	background-image: url(../img/bg-map.png);
	padding: 1% 7%;
	z-index: 12;

	display: flex;
	justify-content: space-between;
}
nav ul {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 1%;
}
nav ul li {
    list-style: none;
    padding-left: 10%;
    font-size: 1rem;
    text-transform: uppercase;
}
nav ul li a {
    display: block;
}
nav a {
	text-decoration: none;
}
a {
	color: black;
}
ul a:hover {
	border-bottom: 1px solid #000;
}
/*--------------------------------------------------------------
5.0 - BUTTONS
-------------------------------------------------------------- */
.button {
	border: 1px solid #000;
	float: right;
	padding: 5% 10%;
	text-decoration: none;
}
.button:hover {
	background-color: #DCBF94;
	color: #fff;
}
/*--------------------------------------------------------------
6.0 - MAIN STYLES
-------------------------------------------------------------- */
.landing {
	height: 180vh;
	background-image: url('../img/landing-bg.jpg');
	background-position: center center;	
	background-repeat: no-repeat;
	background-size: cover;
	background-color:#464646;
}
section {
	height: 80vh;
	min-height: 500px;
	padding: 10%;

	display: flex;
	align-items: center;
}
section:nth-of-type(2) {
	height: auto;
	padding: 4%;
	text-align: center;
}
section:nth-of-type(2) h2 {
	margin-bottom: 25px;
}
section:nth-of-type(3) {
	justify-content: flex-end;
}
section:nth-of-type(4) {
	display: flex;
	padding-top: 175px;
	padding-bottom: 200px;
}
.info-card {
	min-width: 400px;
	width: 30%;
	padding: 60px;
	display: block;
}
.letters {
	height: 200px;
}
#list2 {
	margin-top: 65px;
}
.drinks-menu {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
#drinks {
	position: relative;
	background-image: url('../img/list-bg.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center right;
}
#events {       
	display: flex;
	justify-content: center;
	flex-direction: row;
}
#happyhour {
	margin-top: 190px;
}
#menu {
	position: relative;
	background-image: url('../img/menu-bg.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center left;
	margin-top: 50px;
}
.rule {
	height: 5px;
	width: 30px;
	background-color: #592c67;
	margin-bottom: 10px;
}
footer {
	display: flex;
	justify-content: space-around;
	align-content: space-between;
	padding-bottom: 50px;
}
.connect a {
	margin-right: 25px;
}
/*--------------------------------------------------------------
7.0 - COLORS
-------------------------------------------------------------- */
section, .bkg-gray, footer {
	opacity: .8;
}
.infocard {
	opacity: 1;
}
p, a:visited, .connect a, b {
	color: #592c67;
}
/*--------------------------------------------------------------
8.0 - MEDIA QUERIES
-------------------------------------------------------------- */

@media all and (max-width:1100px) {
	section:nth-of-type(4) .info-card {
		padding-left: 0;
	}	
}
@media all and (max-width: 1000px) {

	section:nth-of-type(2) {
		height: auto;
		justify-content: center;
	}
	section:nth-of-type(4) {
		height: auto;
	}
	.drinks-menu {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	#drinks {
		margin-top: -100px;
	}
	#happyhour {
		padding-top: 0;
	}
	#drinks-main {
		margin-right: 200px;
		padding-bottom: 0;
	}
	#menu {
		padding: 0;
	}
	.map-img {
		width: 50%;
	}
	#events {
		display: block;
		margin-top: -150px;
	}
	#happyhour {
		margin-top: 50px;
	}
	#list-img {
		display: none;
	}
}
@media all and (max-width: 900px) {
	#drinks-main {
		padding: 0%;
	}
}
@media all and (max-width: 740px) {
	#drinks-main img {
		display: none;
	}
}
@media all and (max-width: 650px) {
	footer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	footer .rule {
		margin: 0 auto;
	}
	}
@media all and (max-width: 540px) {
	.info-card {
		min-width: 300px;
		padding: 40px;
	}
}
@media all and (max-width: 480px) {
	.wrapper {
		width: 96%;
	}
	section {
		padding: 5%;
	}
	section:first-of-type {
		justify-content: center;

	}
	.info-card {
		min-width: 300px;
		padding: 40px;
	}
	#icon-container {
		display: flex;
		justify-content: space-between;
		width: 250px;
		height: 50px;
	}
	footer {
		margin-top: -100px;
	}
}