html * {
  padding: 0;
  margin: 0;


}

html {
	background-image: url('../img/bg-border.jpg');
	z-index: 0;
	background-size: 100%;
	  background-position: bottom center;
	  height: 100vh;
}

.wrapper {
	width: 85vw;
	overflow-y: scroll;
	margin: 0 auto;
	position: relative;

}
.wrapper::-webkit-scrollbar {
	display: none; 
}
}
section h2 {
	font-size: 172px;
	color: lightblue;
	text-transform: uppercase;
}
#m, #a, #r, #z {
	font-size: 172px;
	color: lightblue;
	text-transform: uppercase;
}




#welcome {
	margin-top: 2%;

	position: relative;

	display: flex;
	align-items: flex-end;

	background-image: url(../img/landing.jpg);
	z-index: 0;
	opacity: .9;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

#welcome .info {
	float: left;
	margin-bottom: 15%;
	margin-top: 46%;

	width: 25%;
	height: 800px;

	
	
	position: absolute;
	left: 0%;

	z-index: -10;
}

.info {
/*	background-color: #fff;*/
	width: 50%;
	padding: 25px;
}


#drinks {
	margin-left: 5%;
	margin-top: 200px;
	width: 50%;

	position: relative;
}

#drinks h2 {
	text-align: right;
	padding-right: 35%;
}

#drinks .info {

	float: right;

	width: 70%;
	height: 500px;

	background-image: url(../img/drinks.jpg);
	opacity: .8;
	background-size: 200%;
	background-repeat: no-repeat;
	
	position: absolute;
	right: -100%;
	top: 0%;

	z-index: -10;
}

.drinks-list {
	width: 100%;
	display: flex;
	justify-content: space-between;

}

.drinks-list > div {
	width: 50%;
}
.drinks-list ul{
	list-style-type: none;
}

#drinks b, #m, #a, #r, #z {
		font-family: essonnes-text, serif;
}

#drinks b {
	text-transform: uppercase;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	font-style: italic;
}
#menu {
/*/*	margin-top: 20rem;
*/	margin-left: 0%;	
	width: 100vw;
	/*margin-left: 45%;	*/
	position: relative;

	display: flex;
	justify-content: center;
	align-items: flex-end;


}

#menu .info {
	margin-bottom: 10%;
	width: 30%;
}


#menu p {
	margin-bottom: 25px;
}
#menu a, #events a {
	padding: 10px 20px;
	border: solid 3px #DABC8F;
	text-transform: uppercase;
	color: #DABC8F;

	float: right;
}

.menu-bg {
	width: 70%;
	height: 700px;

	background-image: url(../img/food.jpg);
	opacity: .8;
	background-size: 100%;
	background-repeat: no-repeat;
	
	position: absolute;
	top: 0%;
	left: -20%;
	
	z-index: -10;
}

#events {
	margin-top: 175px;
	width: 100%;

	position: relative;

	display: flex;

}

#events .info {
	margin-right: 20%;
	width: 40%;

	text-align: left;
}

.events-container {
	background-color: #fff;
	width: 50%;
	height: 300px;
	margin-right: 5%;

	display: flex;
	align-self: flex-end;
}

.event-date {
	width: 33%;
}

.events-bg {
	width: 70%;
	height: 1000px;


	background-image: url(../img/events.jpg);
	opacity: .8;
	background-repeat: no-repeat;
	background-size: contain;

	position: absolute;
	top: 0%;
	left: 10%;


	z-index: -10;
}



/* GENERAL STYLES */
footer {
	height: 10vh;
	background-color: #FFF;
	width: 100%;

	left: 10%;
	display: flex;
	justify-content: space-between;

}

section {
/*	margin-top: 20vh;*/
	z-index: 1;
	height: 80vh;
	width: 100%;
}



/* TYPOGRAPHY */

body {
	font-family: 'Open Sans', sans-serif;
}

h1 {
	background-image: url('../img/orb-01-mars.png');
	height: 166px;
	height: 162px;
	background-repeat: no-repeat;
	background-size: contain;
	width: 30%;

}

h1 img {
	position: relative;
	top: 10%;
	left: 3%;
	
	height: 150px;
}

h3 {
	color: #DABC8F;
	font-size: 2rem;
	font-weight: 500;
	letter-spacing: 2px;
}

h3, nav a {
	text-transform: uppercase;
}

a {
	text-decoration: none;
	color: #000;
}



.drinks-list li {
	margin-bottom: 25px;
}

/* NAV STYLES*/
.top-nav {
	height: 30vh;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	display: flex;
	justify-content: space-between;

}


.lrg-nav {
	width: 100%;
}
.lrg-nav > ul {
	height: 100%;
	display: flex;
	justify-content: space-between;
	flex-basis: 700px;
}

.lrg-nav li {
	list-style: none;

	position: relative;
	background-repeat: no-repeat;
	background-size: contain;

	display: flex;
	justify-content: center;
	align-items: center;
}

.lrg-nav li:hover {
	transition: transform 2s;
	transform: rotate(270deg);
	transform-origin: center center;
}

.lrg-nav li:first-of-type {
	background-image: url('../img/orb-02.png');
	
	height: 165px;
	width: 161px;
}


.lrg-nav li:nth-of-type(2) {
	background-image: url('../img/orb-03.png');
	height: 110px;
	width: 111px;
}



.lrg-nav li:nth-of-type(3) {
	background-image: url('../img/orb-04.png');
	height: 166px;
	width: 166px;
}



.lrg-nav li:last-of-type {
	background-image: url('../img/orb-05.png');
	height: 116px;
	width: 117px;

}

.lrg-nav a {
	color: #FFF;
	font-weight: 500;
	font-size: .8rem;
	letter-spacing: .1rem;
}

.lrg-nav a:hover {
	letter-spacing: .2rem;
	transition: all 1s ease;
}

.sm-nav {
	display: none;
}


h1, nav li {
	/*mix-blend-mode: overlay;*/
 	animation: hue 5s infinite;
}

@keyframes hue {
  0% {filter: hue-rotate(0)}
  100% {filter: hue-rotate(360deg)}
}


/*.rotate {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 2s;
     
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
     
    overflow:hidden;
    transform-origin: center;
 
}  
 
.rotate:hover  {
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
}*/





.col-1-4 {
	width: 20%;
	height: 200px;
	text-align: left;
	margin-right: 25px;
}

.col-1-4:first-of-type {
	padding-left: 50px;
}

.rule {
	height: 5px;
	width: 30px;
	background-color: black;
	margin: 5px 0;
}

.fa {
	padding-right: 10px;
}

.section-info {
	width: 320px;
	height: 30%;
	padding: 10px 20px;
	margin-top: 40px;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
}



@media screen and (max-width: 900px) {
	.top-nav {
		height: 10vh;		

		width: 100vw;

		top: 0;
		left: -5%;

	}

	#menu a, #events a {
		margin-left: 0%;
	}

	.drinks-list {
		width: 80vw;
	}

}



@media screen and (max-width: 600px) {
	.lrg-nav li:first-of-type {
    height: 100px;
    width: 100px;
    transition: all 2s ease;
    top: 4%;
    left: 0;

	}

}

@media screen and (max-width: 550px) {
	.lrg-nav {
		display: none;
	}
	.sm-nav {
		display: block;
		margin-top: 85px;
	}
	.sm-nav li {
		display: inline-flex;
		padding-right: 30px;
	}
	.welcome {

	}

}

@media screen and (max-width: 480px) {
	.wrapper {
		width: 95vw;
		overflow-x: hidden;
	}
	section {
		width: 100vw;
		height: 100vh;
	}

	section:first-of-type {
		margin-left: 0;
		height: 80vh;
	}

	.lrg-nav {
		display: none;
	}

	.sm-nav li {
		display: inline-flex;
		padding-right: 10px;
		margin-right: 20px;
	}

	.image-bg {
		margin-top: 50%;
	}

	.left-bg {
		width: 100vw;
		position: absolute;
		top: -45%;
		left: 0%;

		-webkit-transform: rotate(15deg) scale(1.25, 0.5);
	    -moz-transform: rotate(15deg) scale(1.25, 0.5);
	    -ms-transform: rotate(15deg) scale(1.25, 0.5);
	    transform: rotate(90deg) scale(.5);

	    background-repeat: no-repeat;
	    z-index: 0;
	}

	h1 {
	
		position: relative;
		top: 10%;
		left: 6%!important;
		background-size: 25%;
		background-position: 2% 15px;

		flex-basis: 30px;
	}

	h1 img {
		margin-left: 5%;
	}
	.info {
		width: 80%;

	}

	.image-bg {
		width: 100%;
		height: 400px;

		top: 0%;
		left: 0%;
		margin-bottom: 0px;
	}	

	#welcome {
		margin-top: 0px;

		display: flex;
		align-items: flex-end;
	}

	#welcome .info {
		margin-top: 132%;
		margin-bottom: 0px;
		width: 80%;

	}

	#drinks {
		margin-top: 300px;
		width: 100%;
		margin-left: 35px;
		margin-bottom: 0;
	}

	.drinks-bg {
/*		width: 70%;
		height: 700px;

		background-image: url('https://get.taphunter.com/wp-content/uploads/2016/08/bar-11.jpg');
		background-size: 100%;
		position: absolute;
		bottom: 80%;
		right: 0;
		display: none;*/
		width: 100%;
		height: 400px;


		top: 0%;
		left: 0%;

	
	}

	#drinks-body {
		margin-right: 100px;
		width: 90%;
	}

	.drinks-list {
		display: flex;
		flex-direction: column;
	}

	#list-1, #list-2 {
		width: 80%;
	}
/*	#list-1 {
		margin-left: 30px;
	}
	#list-2 {
		margin-right: 70px;
	}*/

	#menu .info {
		margin-bottom: 0;
		width: 80%;
	}

	#menu a, #events a {
		display: block;
		padding: 10px;
		width: 105px;
		float: right;
	}
	#menu a {
		margin-right: 67%;
	}
	.menu-bg {
/*		width: 100%;
		height: 500px;
		
		position: absolute;
		background-position: top center;
		top: 0%;
		left: 10%;
		
		z-index: -10;*/
		width: 100%;
		height: 400px;


		top: 20%;
		left: 0%;
		margin-bottom: 0px;
	}

	#events {
		margin-top: -100px;

		display: flex;
		flex-direction: column-reverse;
		margin: 0 auto;
	}
	#events a {
		margin-right: 25%;
		margin-top: 25px;
	}
	.events-bg {
		width: 100%;
		height: 400px;


		top: 0%;
		left: 0%;
		margin-bottom: 0px;
	}
	.events-container {
		width: 80%;
		margin-top: 0;
	}

	.col-1-4:first-of-type {
		padding-left: 0;
	}

	.col-1-4 {
		width: 30%;
		margin-right: 0;
	}


	footer h3 {
		font-size: 1rem;
	}

	fa-instagram:hover {
		color: red;
	}







}
}
